<div class="row">
    <!-- side bar -->
    <div class="col-xs-12 col-md-3 well">
        <div class="text-center">
            <h3>Pickup time</h3>
            <div class="visible-md-inline-block visible-lg-inline-block" date-disabled="'true'">
                <datepicker ng-model="availDate" min-date="minDate" show-weeks="false" max-mode="'month'" max-date="maxDate" ></datepicker>
            </div>
            <p class="input-group hidden-lg hidden-md">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="availDate" is-open="opened" min-date="minDate" max-date="maxDate" ng-required="true" datepicker-options="calendarOptions" show-weeks="false" disabled />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="icon-calendar-7"></i></button>
            </span>
            </p>
        </div>
    </div>
    <!-- main content -->
    <div class="col-xs-12 col-md-9">
        <div class="text-center" ng-show="!cars"><span class="icon-spin2 animate-spin spinner"></span></div>
        <div class="row" ng-show="cars">
            <div class="col-xs-12">
                <h3>
                <span class="label label-primary" ng-bind="cars.length"></span> cars found <span class="pull-right"><button ng-click="updateAvailableCars()" class="btn btn-default"><span class="icon-arrows-cw"></span></button></span>
                </h3>
            </div>
            <div class="col-xs-12" ng-repeat="nextCar in cars">
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <!-- car image -->
                        <img ng-src="lib/img/{{nextCar.id}}.jpg" class="img-responsive">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <!-- title -->
                        <h3 ng-bind="nextCar.name | titleCase"></h1>
                        <!-- doors & seats -->
                        <span popover="This car has {{nextCar.seats}} seats" popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true"><span class="icon-person"></span><span ng-bind="nextCar.seats"></span></span> |
                        <span popover="This car has {{nextCar.doors}} doors" popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true"><span class="icon-book-alt"></span> <span ng-bind="nextCar.doors"></span></span>
                        <!-- feature list -->
                        <div ng-repeat="nextFeature in nextCar.features" class="text-info"><span class="icon-ok-squared"></span>{{nextFeature.name | titleCase}}</div>
                        <!-- price -->
                        <br/>
                        <br ng-show="nextCar.features.length == 0"/>
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-default disabled"><b>{{nextCar.basePrice | currency:'£'}}</b>   per day</button>
                            <a type="button" ui-sref="bookCar({carstockId: nextCar.carstockId, pickupTime: availDate.toISOString()})" class="btn btn-success">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>