<div class="row">
    <div class="col-xs-12" ng-show="!car">
        <div class="text-center"><span class="icon-spin2 animate-spin spinner"></span></div>
    </div>
    <div class="col-xs-12" ng-show="car">
        <div class="col-xs-12">
            <h3>Book <span ng-bind="car.name | titleCase"></span></h3>
            <hr/>
        </div>
        <div class="row">
            <!-- car -->
            <div class="col-xs-12 col-md-4 vr">
                <!-- car image -->
                <img ng-src="lib/img/{{car.id}}.jpg" class="img-responsive">
                <div><span ng-bind="car.basePrice | currency:'£'"></span> per day</div>
                <span popover="This car has {{car.seats}} seats" popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true"><span class="icon-person"></span><span ng-bind="car.seats"></span></span> |
                <span popover="This car has {{car.doors}} doors" popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true"><span class="icon-book-alt"></span> <span ng-bind="car.doors"></span></span>
                <!-- feature list -->
                <div ng-repeat="nextFeature in car.features" class="text-info"><span class="icon-ok-squared"></span>{{nextFeature.name | titleCase}}</div>
                <!-- price -->
                <br/>
                <br ng-show="car.features.length == 0"/>
            </div>
            <!-- booking time -->
            <div class="col-xs-12 col-md-4 ">
                <h4 class="text-center text-muted">Booking time</h4>
                <!-- from -->
                <p class="input-group">
                <span class="input-group-addon">From</span>
                <input type="text" class="form-control" datepicker-popup="{{format}}" init-date="from" min-date="minfrom" max-date="maxfrom" ng-model="booking.from" is-open="isFromCalendarOpened" datepicker-options="calendarOptions" datepickerPopup />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openFromCalendar($event)"><i class="icon-calendar-7"></i></button>
                </span>
                </p>
                <!-- to -->
                <p class="input-group">
                <span class="input-group-addon">&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;</span>
                <input type="text" class="form-control" datepicker-popup="{{format}}" min-date="minto" min-date="minto" max-date="maxto" ng-model="booking.to" is-open="isToCalendarOpened" datepicker-options="calendarOptions" datepickerPopup />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openToCalendar($event)"><i class="icon-calendar-7"></i></button>
                </span>
                </p>
                <div class="alert alert-info">
                    <span class="icon-info-circled-3"></span> Bookings are only available by one month in advance
                </div>
                <div class="alert alert-info">
                    <span class="icon-info-circled-3"></span> Maximum of 14 days
                </div>
                <div class="alert alert-info">
                    <span class="icon-info-circled-3"></span> Minimum of 1 day
                </div>
            </div>
            <!-- verify -->
            <div class="col-xs-12 col-md-4">
                <h4 class="text-center text-muted">Verify</h4>
                <div class="row well">
                    <div class="col-xs-3">
                        <b>From</b>
                    </div>
                    <div class="col-xs-9">
                        <span ng-bind="booking.from | date:'EEEE, MMMM d'"></span>
                    </div>
                    <div class="col-xs-3">
                        <b>To</b>
                    </div>
                    <div class="col-xs-9">
                        <span ng-bind="booking.to | date:'EEEE, MMMM d'"></span>
                    </div>
                    <div class="col-xs-3">
                        <b>Total</b>
                    </div>
                    <div class="col-xs-9">
                        <span><span ng-bind="bookingDays"></span> days</span>
                    </div>
                    <div class="col-xs-12 text-center">
                        <br/>
                        <h3 ng-bind="car.basePrice * bookingDays | currency:'£'"></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br class="hidden-md hidden-lg"/>
                <div class="btn-group pull-right" role="group">
                    <a ui-sref="availableCars()" class="btn btn-default"><span class="icon-left-big"></span> Back</a>
                    <button ng-disabled="isBooking" ng-click="book()" class="btn btn-success"><span ng-hide="isBooking">Confirm booking</span> <span ng-hide="isBooking" class="icon-right-big"></span><span ng-show="isBooking" class="icon-spin2 animate-spin"></span></button>
                </div>
                {{}}
            </div>
        </div>
    </div>
</div>