<div class="row">
    <div class="col-xs-12 text-center">
        <h1 class="text-success">Booking successful</h1>
        <span class="icon-info-circled-3"></span> Payment takes place on pickup
    </div>
    <div class="col-xs-12">
    	<br class="hidden-md hidden-lg"/>
        <a ui-sref="myBookings()" class="btn btn-default pull-right">My bookings <span class="icon-right-big"></span></a>
    </div>
</div>