<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="GlobalController">
<head>
  <title>Car Rental System</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="lib/css/readable.min.css">
  <link rel="stylesheet" href="vendor/angular-loading-bar/build/loading-bar.min.css">
  <link rel="stylesheet" href="lib/css/icons.min.css">
  <link rel="stylesheet" href="lib/css/animation.min.css">
  <link rel="stylesheet" href="vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
  <link rel="stylesheet" href="lib/css/app.min.css">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationCollapsed">
            <span class="icon-menu-2"></span>
          </button>
          <a class="navbar-brand" ui-sref="availableCars()"><b>Car Rental System</b></a>
          <a class="navbar-brand" ui-sref="availableCars()" ng-show="user" ng-class="{'visible-xs': user}"><span class="icon-paper-plane"></span></a>
          <!-- <a class="navbar-brand" ui-sref="myBookings()" ng-show="user" ng-class="{'visible-xs': user}"><span class="icon-database"></span></a> -->
          <a class="navbar-brand" ui-sref="login()" ng-show="!user" ng-class="{'visible-xs': !user}"><span class="icon-login"></span></a>
          <!-- <a class="navbar-brand" ui-sref="login()" ng-click="logout()" ng-show="user" ng-class="{'visible-xs': user}"><span class="icon-logout"></span></a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigationCollapsed">

          <ul class="nav navbar-nav navbar-left">
            <li ng-show="!user"><a ui-sref="login()"><span class="icon-login"></span> Login</a></li>
            <li ng-show="user"><a ui-sref="availableCars()"><span class=" icon-paper-plane"></span> Available cars</a></li>
            <li ng-show="user"><a ui-sref="myBookings()"><span class=" icon-database"></span> My bookings</a></li>
            <!-- <li ng-show="user"><a ui-sref="login()" ng-click="logout()"><span class="icon-logout"></span> Logout</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <p class="navbar-text" ng-show="!user">
                <span class="text-danger">You are currently not logged in</span>
              </p>
              <li class="dropdown" ng-show="user">
                <a href="" data-toggle="dropdown">
                  <b><span class="icon-user"></span><span ng-bind="user.userName"></span><span class="caret"></span></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref="userProfile.changeData()"><span class="icon-shield"></span> Profile</a></li>
                  <li><a ui-sref="login()" ng-click="logout()"><span class="icon-logout"></span> Logout</a></li>
                </ul> 
              </li>
              <!-- <li class="dropdown">
                <a href="" data-toggle="dropdown">Theme <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" ng-click="useTheme('flatly')">Flatly</a></li>
                  <li><a href="" ng-click="useTheme('journal')">Journal</a></li>
                  <li><a href="" ng-click="useTheme('superhero')">Superhero</a></li>
                  <li><a href="" ng-click="useTheme('readable')">Readable</a></li>
                </ul>
              </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <!-- <div ncy-breadcrumb></div> -->
      <div ui-view></div>
    </div>

    <div class="container footer">
      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">Car Rental System</div>
        </div>
      </div>
    </div>

  
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="vendor/angular-animate/angular-animate.min.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vendor/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="vendor/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="vendor/angular-bootstrap-slider/slider.js"></script>
  <script src="lib/js/app.min.js"></script>
</body>
</html>