<div class="row">
	<div class="col-xs-12">
		<h1>Login</h1>
		<form role="form" name="form" ng-submit="login()" novalidate>
			<div class="form-group" ng-class="{'has-error': form.userName.$invalid && form.userName.$dirty}">
				<label class="control-label" for="userName">Email</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="icon-email"></span></span>
					<input type="userName" class="form-control" name="userName" id="userName" ng-model="user.userName" ng-minlength="6" autocomplete="off" required />
				</div>
				<span class="help-block" ng-show="form.userName.$error.required && form.userName.$dirty">userName can not be empty</span>
				<span class="help-block" ng-show="form.userName.$error.userName && form.userName.$dirty">userName is invalid</span>
				<!-- <span class="help-block" ng-show="form.userName.$error.minlength && form.userName.$dirty">userName is too short</span> -->
			</div>
			<div class="form-group" ng-class="{'has-error': form.password.$invalid && form.password.$dirty}">
				<label class="control-label" for="password">Password</label>
				<div class="input-group">
					<span class="input-group-addon"><span class="icon-key-1"></span></span>
					<input type="password" class="form-control" name="password" id="password" ng-model="user.password" ng-minlength="6" required />
				</div>
				<span class="help-block" ng-show="form.password.$error.minlength && form.password.$dirty">Password is too short</span>
				<span class="help-block" ng-show="form.password.$error.required && form.password.$dirty">Password can not be empty</span>
			</div>
			<input type="submit" class="btn btn-primary" value="Login" ng-disabled="form.$invalid" />
			<a ui-sref="register()" class="btn btn-danger">No account yet?</a>
		</form>

		<br/>

		<div class="alert alert-danger" role="alert" ng-bind="error | capitalize" ng-show="error"></div>
		
	</div>
</div>