<div class="row">
    <div class="col-xs-12 text-center">
        <h1>My bookings</h1>
        <div ng-show="!rootBookings"><span class="icon-spin2 animate-spin spinner"></span></div> <br/>
        <span class="icon-info-circled-3" ng-show="rootBookings && rootBookings.length == 0"> No bookings yet, see <a ui-sref="availableCars()">available cars.</a></span>
        <div class="centered-pills" ng-show="rootBookings && rootBookings.length > 0">
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{'active': filter == 'active'}"><a href="" ng-click="filterActiveBookings()">Active</a></li>
                <li role="presentation" ng-class="{'active': filter == 'expired'}"><a href="" ng-click="filterExpiredBookings()">Expired</a></li>
                <li role="presentation" ng-class="{'active': filter == 'soon'}"><a href="" ng-click="filterSoonBookings()">Soon</a></li>
            </ul> <br/>
        </div>
    </div>
    <div class="col-xs-12" ng-show="rootBookings.length > 0 && bookings">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Car</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Remaining</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nextBooking in bookings">
                        <td ng-bind="nextBooking.id"></td>
                        <td ng-bind="nextBooking.car.name"></td>
                        <td ng-bind="nextBooking.fromDate | date:'EEEE, MMMM d'"></td>
                        <td ng-bind="nextBooking.toDate | date:'EEEE, MMMM d'"></td>
                        <td><span ng-show="isActive(nextBooking)"><span ng-bind="diffDays(nextBooking.fromDate, nextBooking.toDate)"></span> days</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>