<div class="row">
    <div class="col-xs-12">
        <form role="form" name="form" ng-submit="changePassword()" novalidate>
            <div class="form-group" ng-class="{'has-error': form.newPassword.$invalid && form.newPassword.$dirty}">
                <label class="control-label" for="newPassword">New password</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="icon-key-1"></span></span>
                    <input type="password" class="form-control" name="newPassword" id="newPassword" ng-model="updatedUser.newPassword" ng-minlength="6" required />
                </div>
                <span class="help-block" ng-show="form.newPassword.$error.required && form.newPassword.$dirty">Provide a new password</span>
                <span class="help-block" ng-show="form.newPassword.$error.minlength && form.newPassword.$dirty">New password is too short</span>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" ng-disabled="form.$invalid || form.$pristine" />
        </form>
        <br/>
        <div class="alert alert-success" role="alert" ng-show="success">Your password has been changed</div>
        <div class="alert alert-danger" role="alert" ng-show="error" ng-bind="error | capitalize"></div>
    </div>
</div>