<div class="row">
    <div class="col-xs-12 col-md-3">
    	<!-- for desktop -->
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{'active': isState('userProfile.changeData')}" role="presentation"><a ui-sref="userProfile.changeData()"><span class="icon-user"></span> Change Data</a></li>
            <li ng-class="{'active': isState('userProfile.changePassword')}" role="presentation"><a ui-sref="userProfile.changePassword()"><span class="icon-shield"></span> Change Password</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-9">
    	<hr class="hidden-md- hidden-lg" />
        <div ui-view></div>
    </div>
</div>