<div class="row">
    <div class="col-xs-12">
        <form role="form" name="form" ng-submit="changeData()" novalidate>
            <div class="form-group" ng-class="{'has-error': form.userName.$invalid && form.userName.$dirty}">
                <label class="control-label" for="userName">Email</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="icon-email"></span></span>
                    <input type="userName" class="form-control" name="userName" id="userName" ng-model="updatedUser.userName" ng-minlength="6" required />
                </div>
                <span class="help-block" ng-show="form.userName.$error.required && form.userName.$dirty">userName can not be empty</span>
                <span class="help-block" ng-show="form.userName.$error.userName && form.userName.$dirty">userName is invalid</span>
                <span class="help-block" ng-show="form.userName.$error.minlength && form.userName.$dirty">userName is too short</span>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" ng-disabled="form.$invalid || form.$pristine" />
        </form>

        <br/>

        <div class="alert alert-success" role="alert" ng-show="success">Your personal data has been changed</div>
    </div>
</div>